---
layout: layouts/base
mainId: main
---

<!-- markdownlint-disable MD041 -->
<div class="background-gradient"></div>
<a href="#{{ mainId }}" id="skip-link" class="visually-hidden">Skip to main content</a>
<div class="{{ pageContainerClass or 'page-container' }}">
  {% include "../header.njk" %}
  <main id="{{ mainId }}" class="{{ pageClass }}">{{ content | safe }}</main>
  {% include "../footer.njk" %}
</div>
