.host {
  /* SCALE */
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  /* BUTTON SIZE */
  --height-menu-row: 4rem;
  --height-menu-row-scroll: 8rem;
  --size-button-icon: 1.25rem;
  --roundness-button: 0.25rem;
  --height-slider: 0.4rem;
  --width-slider-thumb: 1rem;
  --gap-default: 0.2rem;
  --gap-preview: 0.4rem;

  /* COLOR SCHEMES */
  color-scheme: light dark;

  /* FOCUS */
  --outline-focus: 4px solid light-dark(hsl(220deg 5% 2%), hsl(0deg 0% 100%));

  /* FONT COLORS */
  --text-soft: light-dark(hsl(0deg 0% 100%), hsl(220deg 5% 2%));
  --text-strong: light-dark(hsl(220deg 5% 2%), hsl(0deg 0% 100%));

  /* BACKGROUND COLORS */
  --background-accent: light-dark(hsl(216deg 79% 50%), hsl(216deg 79% 50%));
  --background-softer: light-dark(hsl(204deg 0% 80%), hsl(204deg 5% 2%));
  --background-soft: light-dark(hsl(204deg 5% 70%), hsl(204deg 5% 15%));
  --background-mid: light-dark(hsl(204deg 0% 55%), hsl(0deg 0% 37%));
  --background-strong: light-dark(hsl(204deg 0% 55%), hsl(0deg 0% 60%));
  --background-stronger: light-dark(hsl(204deg 0% 55%), hsl(0deg 0% 75%));
}
