.host {
  /* SCALE */
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  /* BUTTON SIZE */
  --height-menu-row: 4rem;
  --height-menu-row-scroll: 8rem;
  --size-button-icon: 1.25rem;
  --roundness-button: 0.25rem;
  --height-slider: 0.6rem;
  --width-slider-thumb: 0.5rem;
  --gap-default: 1rem;
  --gap-preview: 1rem;

  /* COLOR SCHEMES */
  color-scheme: light dark;

  /* FOCUS */
  /* --foc-med: light-dark() */

  /* FONT COLORS */
  --fnt-dark: light-dark(hsl(0, 0%, 100%), hsl(220, 5%, 2%));
  --fnt-light: light-dark(hsl(220, 5%, 2%), hsl(0, 0%, 100%));

  /* PRIMARY COLORS */
  --pri-dark: light-dark(hsl(206, 0%, 89%), hsl(206, 0%, 12%));
  --pri-med: light-dark(hsl(206, 74%, 50%), hsl(206, 74%, 50%));
  --pri-light: light-dark(hsl(206, 0%, 60%), hsl(206, 0%, 80%));

  /* SECONDARY COLORS */
  --sec-dark: light-dark(hsl(327, 0%, 89%), hsl(327, 0%, 12%));
  --sec-med: light-dark(hsl(327, 99%, 37%), hsl(327, 99%, 37%));
  --sec-light: light-dark(hsl(327, 0%, 60%), hsl(327, 0%, 80%));

  /* TERTIARY COLORS */
  --ter-dark: light-dark(hsl(204, 0%, 80%), hsl(204, 5%, 2%));
  --ter-med: light-dark(hsl(204, 5%, 70%), hsl(204, 5%, 15%));
  --ter-light: light-dark(hsl(204, 0%, 55%), hsl(204, 0%, 80%));
}
