.host {
  /* SCALE */
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  /* BUTTON SIZE */
  --height-menu-row: 4rem;
  --height-menu-row-scroll: 8rem;
  --size-button-icon: 1.25rem;
  --roundness-button: 0.25rem;
  --height-slider: 0.6rem;
  --width-slider-thumb: 0.75rem;
  --gap-default: 0.2rem;
  --gap-preview: 1rem;

  /* COLOR SCHEMES */
  color-scheme: light dark;

  /* FOCUS */
  --outline-focus: 4px solid light-dark(hsl(220, 5%, 2%), hsl(0, 0%, 100%));

  /* FONT COLORS */
  --text-soft: light-dark(hsl(0, 0%, 100%), hsl(220, 5%, 2%));
  --text-strong: light-dark(hsl(220, 5%, 2%), hsl(0, 0%, 100%));

  /* BACKGROUND COLORS */
  --background-accent: light-dark(hsl(206, 74%, 50%), hsl(206, 74%, 50%));
  --background-softer: light-dark(hsl(204, 0%, 80%), hsl(204, 5%, 2%));
  --background-soft: light-dark(hsl(204, 5%, 70%), hsl(204, 5%, 15%));
  --background-mid: light-dark(hsl(204, 0%, 55%), hsl(0, 0%, 37%));
  --background-strong: light-dark(hsl(204, 0%, 55%), hsl(0, 0%, 60%));
  --background-stronger: light-dark(hsl(204, 0%, 55%), hsl(0, 0%, 75%));
}
