/* MAIN CONTAINERS */
.host {
  /* SIZE */
  max-height: 90vh;
}

/* UNUSED ELEMENTS */
.miru--unused {
  display: none;
}

/* MAIN FLEX CONTAINERS */
.host,
.miru--main {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  width: 100%;
  min-height: 0;
}

/* CENTER WRAPPER */
.miru--center {
  position: relative;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  min-height: 0;

  /* CROPPER SPECIFIC PREVIEW WRAPPER */
  .miru--cropper-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;

    .cropper-drag-box {
      opacity: 1;
    }
  }
}

/* IMAGE PREVIEW */
.miru--preview {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  width: 100%;
  min-height: 0;
  max-height: 100%;
  padding: var(--gap-preview);

  & > canvas {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
  }
}

/* MENU */
.miru--menu {
  display: flex;
  flex-direction: column;

  /* MENU BUTTON ROW */
  .miru--menu__row {
    position: relative;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
    height: var(--height-menu-row);
    overflow-y: hidden;
  }

  .miru--menu__slider-row {
    grid-template-columns: 1fr 4fr 1fr;
  }

  /* MENU BUTTON ROW SCROLLABLE */
  .miru--menu__row--scroll {
    grid-auto-columns: 1fr;
    gap: var(--gap-default);
    justify-content: unset;
    height: var(--height-menu-row-scroll);
    padding-top: var(--gap-default);
    padding-right: 50%;
    padding-bottom: calc(0.5rem + var(--gap-default)) !important;
    padding-left: 50%;
    overflow: scroll hidden !important;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;

    .miru--button {
      flex-shrink: 0;
      scroll-snap-align: center;
    }
  }
}

.miru--filter-preview {
  z-index: 0;

  canvas {
    z-index: -1;
    transform: scaleY(-1);
  }
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 40px; /* Set to a large value */
}
