.host {
  /* APP COLOR [ter] */
  background-color: var(--ter-dark);

  /* SCROLLBARS [ter] */
  & {
    ::-webkit-scrollbar-thumb {
      background-color: var(--ter-med);
    }
    ::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  /* PREVIEW [ter] */
  .miru--preview {
    background-color: var(--ter-med);
  }

  /* CROPPER [ter] */
  :global .cropper-container {
    /* CROP BOX */
    :global .cropper-view-box {
      outline-color: var(--ter-light);
    }
    /* AROUND CROP BOX */
    :global .cropper-drag-box {
      background-color: var(--ter-med) !important;
    }
    /* GUIDES */
    :global .cropper-dashed {
      border-color: var(--ter-light);
    }
  }

  /* TAB GROUP [pri] */
  [role="tablist"] {
    color: var(--fnt-light);
    /* RADIO BUTTON GROUP HIGHLIGHTING */
    &:has([role="tab"]:focus-visible) {
      border: var(--foc-med) !important;
    }
    /* TAB BUTTON */
    & > [role="tab"] {
      /* ENABLED DOT */
      &.miru--enabled::after {
        background-color: var(--fnt-light);
      }
      /* ACTIVE BUTTON */
      &[aria-selected="true"] {
        background-color: var(--pri-med) !important;
      }
      /* INACTIVE BUTTON */
      &:not([aria-selected="true"]) {
        background-color: var(--pri-dark) !important;
      }
      /* INACTIVE BUTTON HOOVER OR FOCUS */
      &:not([aria-selected="true"]):hover,
      &:not([aria-selected="true"]):focus-visible {
        background-color: var(--pri-light) !important;
        color: var(--fnt-dark);
        &.miru--enabled::after {
          background-color: var(--fnt-dark);
        }
      }
    }
  }

  /* RADIO GROUP [sec] */
  fieldset {
    color: var(--fnt-light);
    /* RADIO BUTTON GROUP HIGHLIGHTING */
    &:has(input[type="radio"]:focus-visible) {
      border: var(--foc-med) !important;
    }
    /* RADIO BUTTON */
    & > label {
      /* ACTIVE BUTTON */
      &:has(input:checked) {
        background-color: var(--sec-med) !important;
      }
      /* INACTIVE BUTTON */
      &:not(:has(input:checked)) {
        background-color: var(--sec-dark) !important;
      }
      /* INACTIVE BUTTON HOOVER, hover class for filter scroll pseudo hover */
      &:not(:has(input:checked)):hover,
      &:not(:has(input:checked)).miru--hov {
        background-color: var(--sec-light) !important;
        color: var(--fnt-dark);
      }
    }
  }

  /* SLIDER GROUP [sec, ter] */
  .miru--menu__slider-row {
    color: var(--fnt-light);
    /* SLIDER INACTIVE COLORS */
    & {
      --med: var(--sec-dark);
      --light: var(--ter-light);
      --dark: var(--ter-med);
    }
    /* SLIDER ACTIVE COLORS */
    &:not(:has([zero])):has(:hover),
    &:not(:has([zero])):has(:focus-visible) {
      --med: var(--sec-med);
      --light: var(--sec-light);
      --dark: var(--sec-dark);
    }
    /* SLIDER */
    input {
      /* KEYBOARD FOCUS */
      &:focus-visible {
        outline: var(--foc-med) !important;
      }
      /* SLIDER THUMB, SEPARATED BECAUSE COMBINING THEM DESTROYS WEBKIT SETTING */
      &::-webkit-slider-thumb {
        background-color: var(--light);
        border-color: var(--dark);
      }
      &::-moz-range-thumb {
        background-color: var(--light);
        border-color: var(--dark);
      }
      /* DEFAULT SLIDER TRACK */
      &::-webkit-slider-runnable-track {
        background: linear-gradient(90deg, var(--med) 0%, var(--dark) 50%, var(--med) 100%);
      }
      &::-moz-range-track {
        background: linear-gradient(90deg, var(--med) 0%, var(--dark) 50%, var(--med) 100%);
      }
      /* SLIDER TRACK NOT CENTERED */
      &:not([iscentered])::-webkit-slider-runnable-track {
        background: linear-gradient(90deg, var(--dark) 0%, var(--med) 100%);
      }
      &:not([iscentered])::-moz-range-track {
        background: linear-gradient(90deg, var(--dark) 0%, var(--med) 100%);
      }
    }
    /* SLIDER TICKS */
    datalist + div > span {
      background-color: var(--light);
    }
    /* VALUE LABEL */
    input + label{
      /* ENABLED DOT */
      &.miru--enabled::after {
        background-color: var(--fnt-light);
      }
    }
  }

  /* DEFAULT GROUP [ter] */
  .miru--menu__row:not([role="tablist"], fieldset, .miru--menu__slider-row) {
    color: var(--fnt-light);
    /* BUTTON */
    & > .miru--button {
      /* BUTTON */
      & {
        background-color: var(--ter-dark);
      }
      /* BUTTON HOVER */
      &:hover {
        background-color: var(--ter-light);
        color: var(--fnt-dark);
      }
    }
  }
}
