.host {
  /* APP COLOR */
  background-color: var(--ter-dark);

  /* SCROLLBARS */
  & {
    ::-webkit-scrollbar-thumb {
      background-color: var(--ter-light);
    }
    ::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  /* PREVIEW */
  .miru--preview {
    background-color: var(--ter-med);
  }

  /* CROPPER */
  :global .cropper-container {
    :global .cropper-view-box {
      outline-color: var(--sec-med);
    }
    :global .cropper-dashed {
      border-color: var(--ter-light);
    }
    :global .cropper-drag-box {
      background-color: var(--ter-med) !important;
    }
  }

  /* TAB GROUP */
  [role="tablist"] {
    color: var(--ter-light);
    /* TAB BUTTON */
    & > [role="tab"] {
      /* ENABLED DOT */
      .miru--enabled::after {
        background-color: var(--ter-light);
      }
      /* ACTIVE BUTTON */
      &[aria-selected="true"] {
        background-color: var(--pri-med) !important;
      }
      /* INACTIVE BUTTON */
      &:not([aria-selected="true"]) {
        background-color: var(--pri-dark) !important;
      }
      /* INACTIVE BUTTON HOOVER OR FOCUS */
      &:not([aria-selected="true"]):hover,
      &:not([aria-selected="true"]):focus-visible {
        background-color: var(--pri-light) !important;
        color: var(--ter-dark);
        .miru--enabled::after {
          background-color: var(--ter-dark);
        }
      }
    }
  }

  /* RADIO GROUP */
  fieldset {
    color: var(--ter-light);
    /* RADIO BUTTON */
    & > label {
      /* ACTIVE BUTTON */
      &:has(input:checked) {
        background-color: var(--sec-med) !important;
      }
      /* INACTIVE BUTTON */
      &:not(:has(input:checked)) {
        background-color: var(--sec-dark) !important;
      }
      /* INACTIVE BUTTON HOOVER */
      &:not(:has(input:checked)):hover {
        background-color: var(--sec-light) !important;
        color: var(--ter-dark);
      }
    }
  }

  /* SLIDER GROUP */
  .miru--menu__slider-row {
    color: var(--ter-light);
    /* SLIDER */
    input {
      /* SLIDER THUMB, SEPARATED BECAUSE COMBINING THEM DESTROYS WEBKIT SETTING */
      &::-webkit-slider-thumb {
        background-color: var(--sec-med);
      }
      &::-moz-range-thumb {
        background-color: var(--sec-med);
      }
      /* DEFAULT SLIDER TRACK */
      & {
        background-color: var(--ter-med);
      }
      /* ACTIVE SLIDER TRACK CENTERED */
      &[iscentered]:not([zero]) {
        background-color: var(--sec-dark);
      }
      /* ACTIVE SLIDER TRACK NOT CENTERED */
      &:not([iscentered], [zero])::-moz-range-progress {
        background-color: var(--sec-dark);
      }
      &:not([iscentered], [zero])::-webkit-slider-thumb {
        box-shadow: -4000px 0 0 4000px var(--sec-dark);
      }
    }
    /* SLIDER TICKS */
    datalist + div > span {
      background-color: var(--sec-med);
    }
  }

  /* DEFAULT GROUP */
  .miru--menu__row:not([role="tablist"], fieldset, .miru--menu__slider-row) {
    color: var(--ter-light);
    /* BUTTON */
    &>.miru--button {
      /* BUTTON */
      &{
        background-color: var(--ter-dark);
      }
      /* BUTTON HOVER */
      &:hover {
        background-color: var(--ter-light);
        color: var(--ter-dark);
      }
    }
  }
}
