.host {
  /* APP COLOR [ter] */
  background-color: var(--background-softer);

  /* SCROLLBARS [ter] */
  & {
    ::-webkit-scrollbar-thumb {
      background-color: var(--background-soft);
    }
    ::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  /* PREVIEW [ter] */
  .miru--preview {
    background-color: var(--background-soft);
  }

  /* CROPPER [ter] */
  :global .cropper-container {
    /* CROP BOX */
    :global .cropper-view-box {
      outline-color: var(--text-strong);
    }
    /* AROUND CROP BOX */
    :global .cropper-drag-box {
      background-color: var(--background-soft) !important;
    }
    /* GUIDES */
    :global .cropper-dashed {
      border-color: var(--text-strong);
    }
  }

  /* TAB GROUP [pri] */
  [role="tablist"] {
    color: var(--text-strong);
    /* RADIO BUTTON GROUP HIGHLIGHTING */
    &:has([role="tab"]:focus-visible) {
      border: var(--outline-focus) !important;
    }
    /* TAB BUTTON */
    & > [role="tab"] {
      /* ENABLED DOT */
      &.miru--enabled::after {
        background-color: var(--text-strong);
      }
      /* ACTIVE BUTTON */
      &[aria-selected="true"] {
        background-color: var(--background-accent) !important;
      }
      /* INACTIVE BUTTON */
      &:not([aria-selected="true"]) {
        background-color: var(--background-soft) !important;
      }
      /* INACTIVE BUTTON HOOVER OR FOCUS */
      &:not([aria-selected="true"]):hover,
      &:not([aria-selected="true"]):focus-visible {
        background-color: var(--background-strong) !important;
      }
    }
  }

  /* RADIO GROUP [sec] */
  fieldset {
    color: var(--text-strong);
    /* RADIO BUTTON GROUP HIGHLIGHTING */
    &:has(input[type="radio"]:focus-visible) {
      border: var(--outline-focus) !important;
    }
    /* RADIO BUTTON */
    label {
      /* ACTIVE BUTTON */
      &:has(input:checked) {
        background-color: var(--background-mid) !important;
      }
      /* INACTIVE BUTTON */
      &:not(:has(input:checked)) {
        background-color: var(--background-soft) !important;
      }
      /* INACTIVE BUTTON HOOVER, hover class for filter scroll pseudo hover */
      &:not(:has(input:checked)):hover,
      &:not(:has(input:checked)).miru--hov {
        background-color: var(--background-strong) !important;
      }
    }
  }

  /* SLIDER GROUP [sec, ter] */
  .miru--menu__slider-row {
    color: var(--text-strong);

    input[disabled] {
      &::-webkit-slider-thumb {
        background-color: transparent;
        border-color: transparent;
      }
      &::-moz-range-thumb {
        background-color: transparent;
        border-color: transparent;
      }
    }
    /* SLIDER */
    input {
      /* KEYBOARD FOCUS */
      &:focus-visible {
        outline: var(--outline-focus) !important;
      }
      /* SLIDER THUMB, SEPARATED BECAUSE COMBINING THEM DESTROYS WEBKIT SETTING */
      &::-webkit-slider-thumb {
        background-color: var(--background-accent);
        border-color: transparent;
        /* border-color: var(--background-softer); */
        /* box-shadow: -1000px 0 0 1000px red; */
      }
      &::-moz-range-thumb {
        background-color: var(--background-accent);
        border-color: transparent;
        /* background-color: var(--background-stronger);
        border-color: var(--background-softer); */
      }
      /* &[zero]::-webkit-slider-thumb {
        background-color: var(--background-mid);
        border-color: var(--background-softer);
      }
      &[zero]::-moz-range-thumb {
        background-color: var(--background-mid);
        border-color: var(--background-softer);
      } */
      /* GRADIENT COLORS */
      &::-webkit-slider-runnable-track {
        --g0: var(--background-soft);
        --g1: var(--background-accent);
      }
      &::-moz-range-track {
        --g0: var(--background-soft);
        --g1: var(--background-accent);
      }
      /* CENTERED SLIDER TRACK */
      &::-webkit-slider-runnable-track {
        /* background: linear-gradient(90deg, var(--g1) 0%, var(--g0) 50%, var(--g1) 100%); */
        background: linear-gradient(
          90deg,
          var(--g0) 0%,
          var(--g0) min(50%, var(--input-value)),
          var(--g1) min(50%, var(--input-value)),
          var(--g1) max(50%, var(--input-value)),
          var(--g0) max(50%, var(--input-value)),
          var(--g0) 100%
        );
      }
      &::-moz-range-track {
        background: linear-gradient(
          90deg,
          var(--g0) 0%,
          var(--g0) min(50%, var(--input-value)),
          var(--g1) min(50%, var(--input-value)),
          var(--g1) max(50%, var(--input-value)),
          var(--g0) max(50%, var(--input-value)),
          var(--g0) 100%
        );
      }
      /* SLIDER TRACK NOT CENTERED */
      &:not([iscentered])::-webkit-slider-runnable-track {
        background: linear-gradient(
          90deg,
          var(--g1) 0%,
          var(--g1) var(--input-value),
          var(--g0) calc(var(--input-value) + 0.1%),
          var(--g0) 100%
        );
      }
      &:not([iscentered])::-moz-range-track {
        background: linear-gradient(
          90deg,
          var(--g1) 0%,
          var(--g1) var(--input-value),
          var(--g0) calc(var(--input-value) + 0.1%),
          var(--g0) 100%
        );
      }
    }
    /* SLIDER TICKS */
    datalist + div > span {
      background-color: var(--background-mid);
    }
    /* VALUE LABEL */
    input + label {
      /* ENABLED DOT */
      &.miru--enabled::after {
        background-color: var(--text-strong);
      }
    }
  }

  /* DEFAULT GROUP [ter] */
  .miru--menu__row:not([role="tablist"], fieldset, .miru--menu__slider-row) {
    color: var(--text-strong);
    /* BUTTON */
    & > .miru--button {
      /* BUTTON */
      & {
        background-color: var(--background-softer);
      }
      /* BUTTON HOVER */
      &:hover {
        background-color: var(--background-soft) !important;
        /* color: var(--text-soft); */
      }
    }
  }
}
