/* BUTTON */
.miru--button {
  transition:
    color 0.25s,
    background-color 0.25s;
}

/* BUTTON HOVER */
.miru--button:hover,
.miru--hov:not(.miru--acc) {
  transition:
    color 0.015s,
    background-color 0.015s;
}

/* PRELOADER */
.miru--loading::after {
  animation: miru-spinner 2s linear infinite;
}

@keyframes miru-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.miru--menu__row {
  transition: all 1s;
}
