.baseInput {
  composes: sanitize;
  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  padding: 0.6875rem 0.9375rem;
  background-color: #2b2e30;
  border: none;
  border-radius: 0.625rem;

  &[type='number'] {
    padding-right: 0.5rem;
  }

  &.asText {
    &,
    :is(select, input, textarea) {
      appearance: textfield;

      input[type='number']::-webkit-inner-spin-button {
        appearance: none;
      }
    }
  }

  button,
  input,
  select,
  textarea {
    flex-shrink: 1;
    width: 100%;
    padding: 0;
    outline: none;
    background: transparent;
    border: none;
  }
}

.input {
  composes: baseInput focusWithin;
}

.numberInput {
  composes: input;
  width: 5.5rem;

  .inputPrefix {
    margin-right: -0.365rem;
  }

  .inputSuffix {
    margin-left: -0.365rem;
  }

  &:not(.asText, :has(.inputSuffix)) {
    padding-right: 0.5rem;
  }
}

.ctaButton {
  composes: baseInput focusWithin;

  &.primary {
    background-color: #1d6be4;

    &:hover {
      background-color: #1552b1;
    }
  }

  &.tertiary {
    background-color: transparent;
    border: solid 0.125rem currentcolor;

    &:hover {
      color: #aaacc2;
    }
  }

  &.danger {
    background-color: var(--red-dark);
  }

  &.ghost {
    background-color: transparent;
  }

  &:disabled {
    background-color: transparent;
  }

  :global(.miru-icon) {
    font-size: 1rem;
  }
}

.controlGroup {
  composes: baseInput;
  gap: 0.9375rem;

  :focus-visible {
    outline: solid 4px white;
  }
}

.inputPrefix,
.inputSuffix {
  color: #aaacc2;

  input[type='color'] ~ & {
    font-family: sans-serif;
    font-variant-numeric: tabular-nums;
    text-transform: uppercase;
  }
}

.inputUnit {
  composes: inputSuffix;
  margin-left: -0.25rem;
}

.dropdown {
  display: inline-block;
}

.dropdownTrigger {
  composes: input;

  &[aria-expanded='true'] .dropdownTriggerArrow {
    transform: rotate(180deg);
  }
}

.dropdownPopover {
  inset: auto;
  top: calc(anchor(bottom) + 0.25rem);
  left: anchor(left);
  padding: 0;
  margin: 0;
  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;
  background: transparent;
  border: none;
}

.dropdownMenu {
  width: 100%;
  max-height: 30vh;
  padding: 0.3125rem;
  margin: 0;
  background-color: black;
  border-radius: 0.625rem;
}

.dropdownMenuItem {
  position: relative;
  padding: 0.625rem;
  margin: 0;
  list-style: none;
  border-radius: 0.3125rem;

  &:focus {
    background-color: #1552b1;
  }

  &:not(:last-child, :focus, :checked)::after {
    position: absolute;
    right: 0.9375rem;
    bottom: 0;
    left: 0.9375rem;
    display: inline-block;
    height: 1px;
    content: '';
    background-color: #2c3033;
  }
}

.inputRow {
  display: flex;
  gap: 0.625rem;
}

.drawer {
  composes: sanitize;
  position: fixed;
  inset: unset;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: unset;
  padding-top: 1.625rem;
  overflow: hidden;
  background-color: var(--secondary-bg);
  border: none;
  border-radius: 1.25rem 1.25rem 0 0;

  &:not([open]) {
    display: none;
  }

  &::backdrop {
    display: none;
  }

  h1 {
    width: 100%;
    font-size: 1rem;
  }
}

.drawerHeader {
  composes: safeMarginX triColumn;
  position: relative;
  gap: 1rem;
  align-items: center;
  max-height: 80%;
  padding-bottom: 0.5rem;

  border-bottom: solid gray 1px;

  h1 {
    flex-grow: 1;
    margin: 0;
  }
}

.drawerButton {
  padding: 0;
  background: transparent;
  border: none;

  .icon {
    font-size: 1.5rem;
  }
}

.drawerBody {
  composes: safePaddingX;
  width: 100%;
  max-height: 50vh;
  padding-top: 0.5rem;
  padding-bottom: max(env(safe-area-inset-bottom, 2.5rem), 2.5rem);
  overflow: auto;
}

.workspace {
  display: grid;
  grid-template:
    'toolbar header header header   header' auto
    'toolbar panel  gap-l  gap-t    gap-t' var(--workspace-gap)
    'toolbar panel  gap-l  viewport properties' auto
    'toolbar panel  gap-l  gap-m    gap-m' var(--workspace-gap)
    'toolbar panel  gap-l  timeline timeline' 1fr;
  grid-template-columns: var(--panel-toolbar-width) auto var(--workspace-gap) 1fr auto;
  justify-content: stretch;
  padding-right: 1.25rem;
  background-color: var(--primary-bg);

  &.mobile {
    grid-template:
      'header' auto
      'viewport' auto
      'controls' auto
      'timeline' 1fr
      'toolbar' auto
      / 100%;
    padding-right: 0;

    .workspaceBottom {
      background-color: var(--primary-bg);
    }
  }
}

.workspaceHeader {
  grid-area: header;
  border-bottom: solid 1px #2c3033;
}

.workspaceViewport {
  --workspace-viewport-spacing-left: var(--panel-width);
  --workspace-viewport-spacing-right: calc(var(--workspace-properties-width) + var(--workspace-gap));

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  grid-area: viewport;
  width: calc(100% - var(--workspace-viewport-spacing-right) - var(--workspace-viewport-spacing-left));
  margin-left: var(--workspace-viewport-spacing-left);
  overflow: hidden;

  .workspace:has(.panel) & {
    --workspace-viewport-spacing-left: 0px;
  }

  .workspace:has(.workspaceProperties) & {
    --workspace-viewport-spacing-right: var(--workspace-gap);
  }

  .mobile & {
    margin-top: var(--workspace-gap);

    --workspace-viewport-spacing-left: var(--workspace-gap);
    --workspace-viewport-spacing-right: var(--workspace-gap);
  }
}

.workspaceBottom {
  display: flex;
  flex-direction: column;
  grid-area: timeline;

  .desktop & {
    background-color: var(--secondary-bg);
    border: solid 1px #2c3033;
    border-bottom: none;
    border-radius: 1.25rem 1.25rem 0 0;
  }
}

.panels {
  display: flex;
  grid-area: panels;
}

.panelBase {
  /* to go above clip transform controls */
  composes: sanitize;
  z-index: 1;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 100%;
  background: var(--primary-bg);
  border-right: solid 1px #2c3033;
}

.panel {
  composes: panelBase;
  grid-area: panel;
  width: var(--panel-width);
  padding: 0.625rem;
}

.panelBody {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: start;
}

.panelHeadingBase {
  composes: sanitize;
  font: unset;
  letter-spacing: inherit;
}

.panelHeading {
  composes: panelHeadingBase;
  color: inherit;
}

.panelSubheading {
  composes: panelHeadingBase;
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #aaacc2;
}

.panelToolbar {
  composes: panelBase;
  grid-area: toolbar;
  padding: 1rem 0.25rem;
  text-align: center;

  > li {
    display: contents;
  }
}

.panelToggle {
  composes: sanitize;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  color: #aaacc2;
  text-align: center;

  &[aria-expanded='true'] {
    color: inherit;

    .panelToggleIcon {
      background: #aaacc21a;
    }
  }
}

.panelToggleIcon {
  padding: 0.25rem;
  font-size: 1.5rem;
  border-radius: 0.375rem;
}

.wideButton {
  composes: input;
  justify-content: center;
  width: 100%;
  background-color: #2c3033;
  border: none;
  border-radius: 0.3125rem;

  &:hover {
    background-color: #51585c;
  }

  &:active,
  &:has(:active) {
    background-color: #51585c;
  }
}

.workspacePropertiesPositioner {
  grid-area: properties;
  height: 0;
}

.workspaceProperties {
  composes: panelBase;
  width: var(--workspace-properties-width);
  height: var(--viewport-height);
  padding: 0 1rem;
  border: solid 1px #2c3033;
  border-radius: 1.25rem;

  .panelBody {
    height: 100%;
    padding: 1rem 0.25rem;
    overflow: hidden auto;
  }
}

.desktopControls {
  composes: triColumn;
  padding: 0 0.75rem;
  border-bottom: solid 1px #2c3033;

  > * {
    display: flex;
    align-items: center;
  }

  > :last-child {
    padding-left: 0.25rem;
    border-left: solid 1px #2c3033;
  }
}

.desktopControlsSection {
  display: flex;
}

.desktopControlsButton {
  display: inline-flex;
  padding: 0.75rem;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: #fff2;
  }

  &:disabled {
    background-color: transparent;
  }

  :global .miru-icon {
    font-size: 1.25rem;
  }
}

.mobilePlaybackControls {
  composes: triColumn safePaddingX;
  grid-area: controls;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: solid 1px #2c3033;

  button {
    background-color: transparent;
  }
}

.playbackControlsOverlay {
  position: absolute;
  bottom: 0.625rem;
  display: flex;
  padding: 0 0.365rem;
  margin: auto;
  background-color: #1c2023;
  border: solid 1px #2c3033;
  border-radius: 999px;
  opacity: 0;

  .viewport:hover &,
  &:has(:focus-visible) {
    opacity: 1;
  }

  button {
    padding: 0.25rem;
    font-size: 1.625rem;
    background-color: transparent;
  }
}

.panelInput {
  composes: input;

  display: flex;
  gap: 0.625rem;
  width: 100%;
  border: solid 1px #51585c;

  &::placeholder {
    color: #51585c;
  }
}

.mobileToolbar {
  display: flex;
  grid-area: toolbar;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: center;
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
  overflow-x: auto;
}

.mobileToolbarBackButton {
  composes: ctaButton;
  display: inline-flex;
  min-height: 100%;
  padding: 0.3125rem;
  color: #aaacc2;

  :global .miru-icon {
    font-size: 1.25rem;
  }
}

.mobileToolbarButton {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  align-self: stretch;
  justify-content: flex-start;
  width: 3rem;
  padding: 0 0.5rem 0.125rem;
  font-size: 0.75rem;
  line-height: initial;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--white-1);
  }

  &:active {
    background-color: var(--white-2);
  }

  &.overlay {
    background-color: var(--primary-bg-05);

    &:hover {
      background-color: var(--black-3);
    }

    &:active {
      background-color: var(--black-3);
    }
  }

  &[disabled] {
    cursor: default;
    background-color: transparent;
    opacity: 0.625;
  }

  &.active {
    color: var(--yellow);
  }

  :global .miru-icon {
    font-size: 1.5rem;
  }
}
