/* MODULE BUTTON */
:host {
  &[show-labels='false'] .miru--button:has(.miru--button__icon) {
    .miru--button__label {
      display: none;
    }

    .miru--button__icon {
      margin-bottom: 0 !important;
    }
  }
}

/* BUTTON */
.miru--button {
  position: relative;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  cursor: pointer;

  border-radius: var(--roundness-button);

  &[disabled] {
    pointer-events: none;
    opacity: 0.8;
  }

  &.miru--mark-disabled {
    text-decoration: line-through;
  }

  &.miru--small {
    flex-grow:0;
    flex-shrink: 0;
  }

  /* BUTTON ICON */
  .miru--button__icon {
    margin-right: auto;
    margin-left: auto;
    font-size: var(--size-button-icon);
  }

  /* BUTTON WITH CANVAS */
  &:has(canvas) {
    box-sizing: border-box;
    display: flex;
    flex-basis: calc(var(--height-menu-row-scroll) - 1rem);
    flex-direction: column;
    width: calc(var(--height-menu-row-scroll) - 1rem);
    height: 100%;

    border: 2px solid transparent;

    canvas {
      flex-grow: 1;
      width: 100%;
      height: 1rem;
      object-fit: cover;
    }

    /* BUTTON ACTIVE AND HOVER */
    &.miru--acc {
      border: 2px solid;
    }

    &.miru--hov:not(.miru--acc) {
      border: 2px solid;
    }

    /* &:not(.miru--hov):not(.miru--acc) canvas{
        height: calc(100% - 1.75rem) ;
        flex-grow: 0;
      } */
  }

  /* BUTTON LABEL */
  .miru--button__label {
    margin: auto;
    margin-top: 0.2em;

    /* margin-left: .2em;
    margin-right: .2em; */
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
  }

  &:has(canvas) .miru--button__label {
    margin-top: 0;
    line-height: calc(1em + var(--gap-default));
  }

  /* ENABLED MARKER */
  &.miru--enabled::after {
    position: absolute;
    top: calc(50% - 1.5rem);
    right: calc(50% - 1.5rem);
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    content: '';
    border-radius: 50%;
  }
}
