.button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.875rem;
  cursor: pointer;
  border-style: none;
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--white-1);
  }

  &:active {
    background-color: var(--white-2);
  }

  &.overlay {
    background-color: var(--primary-bg-05);

    &:hover {
      background-color: var(--black-3);
    }

    &:active {
      background-color: var(--black-3);
    }
  }

  &[disabled],
  &[aria-disabled] {
    cursor: default;
    background-color: transparent;
    opacity: 0.625;
  }
}

.square,
.round {
  aspect-ratio: 1;
  padding: 0.25rem;

  &.overlay {
    padding: 0.5rem;
  }
}

.round {
  border-radius: 9999px;
}

.loadingOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;

  transition: opacity 0.25s;

  &.loading {
    opacity: 1;
    transition-delay: 0.25s;

    :global(.miru-icon) {
      animation: loading-spinner 2s linear infinite;
    }
  }

  :global(.miru-icon) {
    font-size: 2rem;
    background-color: var(--black-2);
    border-radius: 50%;
  }
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
