@import url('./bulma-config.scss');

:root {
  --vp-c-brand-1: #1d6be4;
  --vp-c-text-1: #212121;
  --vp-nav-logo-height: 32px;
}

.dark {
  --vp-c-text-1: #d0f1ff;
  --vp-c-bg: #212121;
  --vp-c-bg-soft: #2b2b2b;
  --vp-c-bg-alt: #1a1a1a;
}

:root:not(.dark) .dark-only {
  display: none;
}

:root:is(.dark) .light-only {
  display: none;
}

button:is(button):focus-visible {
  outline: solid currentcolor;
}

.VPNavBar .logo {
  margin-top: -16px;
}

.demo-container {
  /* minus height of mobile sidebar top menu */
  --demo-height: calc(100dvh - 48px);
  height: var(--demo-height);

  @media (width >= 768px) {
    --demo-height: calc(100dvh - 24px);
  }

  @media (width >= 960px) {
    --demo-height: 100dvh;
  }
}

/* hide "Return to top" button */
.demo-page .VPLocalNavOutlineDropdown {
  display: none;
}

.video-editor-demo-page {
  --vp-layout-max-width: 100vw;
}
