<footer class="footer">
    <div class="footer-menu">
        <div></div>
        <div>
            <div class="link-list">
                <a href="/code-of-conduct/" class="ui s">Code of conduct</a>
                <a href="/privacy-policy/" class="ui s">Privacy policy</a>
            </div>
        </div>
        <div>
            <div class="link-list">
                <a href="https://codeberg.org/miru-media/miru" class="icon-link ui s" target="_blank">
                    <div class="i-devicon-plain:codeberg color-accent text-xl"></div>
                    <div class="pseudo-link">Codeberg</div>
                </a>
                <a href="https://github.com/miru-media/miru" class="icon-link ui s" target="_blank">
                    <div class="i-mdi:github color-accent text-xl"></div>
                    <div class="pseudo-link">GitHub</div>
                </a>
            </div>
        </div>
    </div>
    <div class="link-list-horizontal">
        <p class="ui s tertiary m-0">
            Website theme by
            <a href="https://launchkit.evilmartians.io" target="_blank">LaunchKit</a>
        </p>
    </div>
</footer>