miru-image-editor,
:host {
  /* FONT SETTINGS */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* SCALE */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  /* BUTTON SIZE */
  --heigth-menu-row: 4rem;
  --heigth-menu-row-scroll: 12rem;
  --size-button-icon: 1.5rem;
  --width-button-canvas: 10rem;

  /* COLOR SCHEMES */
  color-scheme: light dark;

  /* LIGHT */
  &[color-scheme='light'] {
    /* BACKGROUND-COLOR */
    --color-bg-default: #f1f1f1;
    --color-bg-preview: #d9d9d9;
    --color-bg-button-hover: #fff;
    --color-bg-acc: #d7bdd7;

    /* COLOR */
    --color-fnt-default: #655361;
    --color-fnt-acc: #ff35a7;

    /* SCROLLBAR COLOR */
    --color-scrollbar-thumb: #655361;
    --color-scrollbar-both: #655361 transparent;

    /* SLIDER COLOR */
    --color-slider-thumb: #a1849b;
    --color-slider-progress: #d7bdd7;
    --color-slider-track: #dfdfdf;
    --color-slider-border: #a1849b;

    /* CROPPER COLOR */
    --color-crop-outline: #e3a2e3;
    --color-crop-dashed: #ffffffde;
    --color-crop-overlay: #391a2c82;
  }

  /* DARK */
  &[color-scheme='dark'] {
    /* BACKGROUND-COLOR */
    --color-bg-default: #000;
    --color-bg-preview: #100e10;
    --color-bg-button-hover: #362c36;
    --color-bg-acc: #1e1a1e;

    /* COLOR */
    --color-fnt-default: #ffffffde;
    --color-fnt-acc: #ff0090;

    /* SCROLLBAR COLOR */
    --color-scrollbar-thumb: #362c36;
    --color-scrollbar-both: #362c36 transparent;

    /* SLIDER COLOR */
    --color-slider-thumb: #413641;
    --color-slider-progress: #1e1a1e;
    --color-slider-track: #100e10;
    --color-slider-border: #282128;

    /* CROPPER COLOR */
    --color-crop-outline: #e3a2e3;
    --color-crop-dashed: #ffffffde;
    --color-crop-overlay: #391a2c82;
  }

  /* PIXELFED */
  &[color-scheme='pixelfed'] {
    /* BACKGROUND-COLOR */
    --color-bg-default: var(--light);
    --color-bg-preview: var(--light-gray);
    --color-bg-button-hover: var(--light-gray);
    --color-bg-acc: var(--card-bg);

    /* COLOR */
    --color-fnt-default: var(--body-color);
    --color-fnt-acc: var(--text-lighter);

    /* SCROLLBAR COLOR */
    --color-scrollbar-thumb: var(--light-gray);
    --color-scrollbar-both: var(--light-gray) transparent;

    /* SLIDER COLOR */
    --color-slider-thumb: var(--light-gray);
    --color-slider-progress: var(--card-bg);
    --color-slider-track: var(--light);
    --color-slider-border: var(--light-gray);

    /* CROPPER COLOR */
    --color-crop-outline: var(--light-gray);
    --color-crop-dashed: #ffffffde;
    --color-crop-overlay: #00000082;
  }
}

/* PIXELFED VARS */

/* :root {
  --light: #000;
  --dark: #fff;
  --body-bg: #000;
  --body-color: #9ca3af;
  --nav-bg: #000;
  --bg-light: #212124;
  --light-gray: #212124;
  --text-lighter: #818181;
  --card-bg: #161618;
  --light-hover-bg: #212124;
  --btn-light-border: #161618;
  --input-border: #161618;
  --comment-bg: #212124;
  --border-color: #212124;
  --card-header-accent: #212124;
  --dropdown-item-hover-bg: #000;
  --dropdown-item-hover-color: #818181;
  --dropdown-item-color: #64748b;
  --dropdown-item-active-color: #fff;
} */

/* :root {
--light: #fff;
--dark: #000;
--body-bg: #f3f4f6;
--body-color: #212529;
--nav-bg: #fff;
--bg-light: #f8f9fa;
--primary: #3b82f6;
--light-gray: #f8f9fa;
--text-lighter: #94a3b8;
--card-bg: #fff;
--light-hover-bg: #f9fafb;
--btn-light-border: #fff;
--input-border: #e2e8f0;
--comment-bg: #eff2f5;
--border-color: #dee2e6;
--card-header-accent: #f9fafb;
--dropdown-item-hover-bg: #e9ecef;
--dropdown-item-hover-color: #16181b;
--dropdown-item-color: #64748b;
--dropdown-item-active-color: #334155;
} */
