miru-image-editor,
:host {
  /* FONT SETTINGS */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* SCALE */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  /* BUTTON SIZE */
  --heigth-menu-row: 4rem;
  --heigth-menu-row-scroll: 16rem;
  --size-button-icon: 1.5rem;
  --height-button-image: 1.5rem;
  --size-button-image: 5rem;

  /* SLIDER SIZE */

  /* --height-slider-bar: 2.5rem; */

  /* SCROLLBAR SIZE */
  --size-scrollbar: 10px;

  /* COLOR SCHEMES */
  color-scheme: light dark;

  /* LIGHT */
  &[color-scheme='light'] {
    /* BACKGROUND-COLOR */
    --color-bg-default: #f1f1f1;
    --color-bg-preview: #d9d9d9;
    --color-bg-button-hover: #fff;
    --color-bg-acc: #1e1a1e;

    /* COLOR */
    --color-fnt-default: #52454f;
    --color-fnt-acc: #ff0090;

    /* SCROLLBAR COLOR */
    --color-thumb: #52454f;

    /* SLIDER COLOR */
    --color-slider-bar: #181418;
    --color-slider-thumb: #ffffffde;
    --color-slider-border: #232323de;
  }

  /* DARK */
  &[color-scheme='dark'] {
    /* BACKGROUND-COLOR */
    --color-bg-default: #000;
    --color-bg-preview: #100e10;
    --color-bg-button-hover: #362c36;
    --color-bg-acc: #1e1a1e;

    /* COLOR */
    --color-fnt-default: #ffffffde;
    --color-fnt-acc: #ff0090;

    /* SCROLLBAR COLOR */
    --color-thumb: #ffffffde;

    /* SLIDER COLOR */
    --color-slider-bar: #100e10;
    --color-slider-thumb: #413641;
    --color-slider-border: #282128;

    /* CROPPER COLOR */
    --color-crop-outline: #e3a2e3;
    --color-crop-dashed: #ffffffde;
    --color-crop-overlay: #391a2c82;
  }
}
