miru-image-editor,
:host {
  /* FONT SETTINGS */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* SCALE */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  /* COLOR SCHEMES */
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* BUTTON SIZE */
  --size-button-icon: 1.5rem;
  --height-button-image: 1.5rem;
  --width-button-image: 5rem;

  /* SLIDER SIZE */
  --height-slider-bar: 2.5rem;

  /* SCROLLBAR SIZE */

  /* LIGHT */
  &[color-scheme='light'] {
    /* BACKGROUND-COLOR */
    --color-bg-default: #f1f1f1;
    --color-bg-preview: #d9d9d9;
    --color-bg-button-hover: #fff;
    --color-bg-acc: #1e1a1e;

    /* COLOR */
    --color-fnt-default: #52454f;
    --color-fnt-acc: #ff0090;

    /* SCROLLBAR COLOR */
    --color-thumb: #52454f;

    /* SLIDER COLOR */
    --color-slider-bar: #181418;
    --color-slider-thumb: #ffffffde;
  }

  /* DARK */
  &[color-scheme='dark'] {
    /* BACKGROUND-COLOR */
    --color-bg-default: #000;
    --color-bg-preview: #100e10;
    --color-bg-button-hover: #0c0b0c;
    --color-bg-acc: #1e1a1e;

    /* COLOR */
    --color-fnt-default: #ffffffde;
    --color-fnt-acc: #ff0090;

    /* SCROLLBAR COLOR */
    --color-thumb: #ffffffde;

    /* SLIDER COLOR */
    --color-slider-bar: #100e10;
    --color-slider-thumb: #413641;
  }
}
