/* MODULE BUTTON */
miru-image-editor {
  /* BUTTON */
  .miru--button {
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    cursor: pointer;

    &[disabled] {
      pointer-events: none;
      opacity: 0.6;
    }

    &.miru--small {
      flex-basis: var(--heigth-menu-row);
      flex-grow: 0;
    }

    & > *:not(:last-child, canvas) {
      margin-bottom: calc(var(--heigth-menu-row) - var(--size-button-icon) - 1.85em) !important;
    }

    /* BUTTON ICON */
    .miru--button__icon {
      margin: auto;
      font-size: var(--size-button-icon);
    }

    /* BUTTON WITH CANVAS */
    &:has(canvas) {
      box-sizing: border-box;

      width: var(--width-button-canvas);
      max-height: 100%;

      border: 2px solid transparent;
      border-radius: 0.15rem;

      canvas {
        width: 100%;
        height: calc(100% - 1.8rem);
        object-fit: cover;
      }

      /* BUTTON ACTIVE AND HOVER */
      &.miru--acc {
        border: 2px solid;
      }

      &:not(.miru--acc):hover,
      &.miru--hov:not(.miru--acc) {
        border: 2px solid;
      }
    }

    /* BUTTON LABEL */
    .miru--button__label {
      padding: 0.4em 0;
      overflow: hidden;
      line-height: 1em;
      text-overflow: ellipsis;

      white-space: nowrap;
      pointer-events: none;
    }

    /* ENABLED MARKER */
    &.miru--enabled::after {
      position: absolute;
      top: calc(50% - 1.5rem);
      right: calc(50% - 1.5rem);
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      content: '';
      border-radius: 50%;
    }
  }
}
