/* MODULE SCROLLBAR */
miru-image-editor,
:host {
    /* SCROLLBAR */
    /* Webkit-based browsers (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
        width: var(--size-scrollbar);
        height: var(--size-scrollbar); /* for horizontal scroll */
    }

    /* ::-webkit-scrollbar-thumb {
    border-radius: 4px; Rounded corners 
    } */

    ::-webkit-scrollbar-track {
        background-color: transparent; /* Transparent background */
    }

    /* Firefox */
    /* miru-image-editor,
  :host {
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
  } */
}
