/* MODULE SLIDER */

.miru--menu__row:has(.miru--slider[disabled]) {
  pointer-events: none;
  /* display: none; */
  opacity: 0;
}

/* SLIDER */
.miru--slider {
  flex-grow: 1;
  height: 100%;
  background-clip: padding-box;
  border-top: calc(var(--height-menu-row) / 2 - var(--height-slider) / 2) solid transparent;
  border-bottom: calc(var(--height-menu-row) / 2 - var(--height-slider) / 2) solid transparent;
  border-left: var(--gap-default) solid transparent;
  border-right: var(--gap-default) solid transparent;

  &::-moz-range-thumb {
    width: var(--width-slider-thumb);
  }
}

.miru--slider-label {
  flex-grow: 0;
  flex-basis: 5rem;
  overflow: hidden;
  text-align: center;
}
