/* MODULE SLIDER */
miru-image-editor {
  .miru--slider::-webkit-slider-thumb {
    width: 0.35rem;
  }

  .miru--menu__row:has(.miru--slider[disabled]) {
    pointer-events: none;

    /* display: none; */
    opacity: 0;
  }

  /* SLIDER */
  .miru--slider {
    flex-grow: 1;
    height: calc(100% - 1.5rem);
    margin: 0 var(--gap-default);
    background-clip: padding-box;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-radius: 1rem; /* does not really work */

    /* overflow: visible; */

    &::-moz-range-thumb {
      width: 2rem;
    }
  }

  .miru--slider-label {
    flex-basis: 5rem;
    flex-grow: 0;
    overflow: hidden;
    text-align: center;
  }
}
