/* RESET */
miru-image-editor,
:host {
  /* FONT TWEAKS */
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* STACKING CONTEXT */
  isolation: isolate;

  [disabled] {
    &,
    * {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  /* RESETS */
  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    display: block;
    margin: 0;
    user-select: none;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  button {
    width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    font: inherit;
    line-height: normal;
    color: inherit;
    background: transparent;
    border: none;
  }

  .miru--slider {
    overflow: hidden; /* for chrome */
    appearance: none;
    cursor: pointer;
    background: transparent;

    &:focus {
      outline: none;
    }

    &::-moz-range-track {
      height: 100%;
    }

    &::-moz-range-thumb {
      height: 100%;
      border: none;
      border-radius: 0;
    }

    &::-moz-range-progress {
      height: 100%;
    }
  }

  /* has issues with & nesting */
  .miru--slider::-webkit-slider-thumb {
    height: 200px;
    margin-top: -80px;
    appearance: none;
  }
}
