miru-image-editor,
:host {
  /* DEFAULTS */
  color: var(--color-fnt-default);
  scrollbar-color: var(--color-thumb) transparent;
  background-color: var(--color-bg-default);

  /* SCROLLBAR THUMBS */
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-thumb);
  }
}

/* ACCENT */
.miru--acc {
  color: var(--color-fnt-acc) !important;
}

/* MODE ENABLED */
.miru--enabled::after {
  background-color: var(--color-fnt-acc);
}

/* PREVIEW */
.miru--preview,
.miru--cropper-container {
  background-color: var(--color-bg-preview) !important;
}

/* FILTER LABEL */
.miru--filter span {
  background-color: var(--color-bg-default);
}

/* BUTTON HOVER */
.miru--button:hover {
  background-color: var(--color-bg-button-hover);
}

/* SLIDER */
.miru--slider {
  &,
  &::-webkit-slider-thumb {
    background-color: var(--color-slider-bar);
  }

  &::-moz-range-thumb {
    background: var(--color-slider-thumb);
  }
}
