/* BUTTON */
.miru--button {
  transition: all 0.5s;
}

/* BUTTON HOVER */
.miru--button:hover,
.miru--hov:not(.miru--acc) {
  transition: all 0.015s;
}

/* PRELOADER */
.miru--loading::after {
  animation: miru-spinner 2s linear infinite;
}

.miru--button:not(.miru--loading):has(canvas:not([width]))::after {
  animation: miru-spinner 5s linear infinite reverse;
}

@keyframes miru-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
