/* BUTTON */
.miru--button {
  transition: all 0.5s;
}

/* BUTTON HOVER */
.miru--button:hover,
.miru--button-hov:not(.miru--acc) {
  transition: background-color 0.15s;
}

/* PRELOADER */
.miru--center:has(canvas:not([width]))::after,
.miru--button:has(canvas:not([width]))::after {
  animation: miru-spinner 2s linear infinite;
}

@keyframes miru-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
