@import url('@/css/reset');

:host {
  --black: #000;
  --white: #fff;
  --gray: #252525;
  --red-dark: #e83757;
  --red: #ff5372;
  --red-light: #ff7a92;
  --purple-dark: #8f54f9;
  --purple: #a06efb;
  --purple-light: #ac7dff;
  --yellow-dark: #ead627;
  --yellow: #feea38;
  --yellow-light: #fff38b;
  --green-dark: #03b072;
  --green: #03ad70;
  --green-light: #1ed291;
  --black-1: rgb(0 0 0 / 10%);
  --black-2: rgb(0 0 0 / 30%);
  --black-3: rgb(0 0 0 / 60%);
  --white-1: rgb(255 255 255 / 10%);
  --white-2: rgb(255 255 255 / 30%);
  --white-3: rgb(255 255 255 / 60%);
  --clip-height: 2.75rem;
  --ruler-height: 1rem;
  --ruler-spacing-top: 1rem;
  --ruler-spacing-bottom: 2.625rem;
  --primary-bg: #171717;
  color: white;

  background-color: var(--primary-bg);
}

.video-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.viewport {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 60vh;
  padding: 0.25rem;
}

.viewport-canvas {
  height: 100%;
  border-radius: 1.25rem;
}

.playback-controls {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding: 0.25rem max(env(safe-area-inset-left, 1.25rem), 1.25rem) 0.25rem
    max(env(safe-area-inset-right, 1.25rem), 1.25rem);
}

.playback-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.25rem;
}

.timeline {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.timeline-scroller {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto hidden;
}

.timeline-scroller-child {
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  width: var(--movie-width);
  height: 100%;
  padding: 0 calc(var(--timeline-width) / 2);
}

.timeline-playhead {
  position: absolute;
  top: calc(var(--ruler-spacing-top) + var(--ruler-height) + 0.5rem);
  left: calc(var(--timeline-width) / 2);
  z-index: 10;
  display: flex;
  user-select: none;
}

.timeline-playhead .time-pill {
  translate: calc(var(--time-pill-width) / -2);
}

.time-pill {
  display: flex;
  gap: 0.125rem;
  padding: 0.25rem 0.5rem;
  color: var(--black);
  text-align: center;
  background-color: var(--yellow);
  border-radius: 9999px;
}

.time-pill-digits {
  display: inline-block;
  min-width: 2.25ch;
}

.time-pill-right {
  opacity: 0.5;
}

.time-pill-drop {
  position: absolute;
  bottom: -0.5rem;
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 0.5rem;
  color: var(--yellow);
}

.timeline-cursor {
  position: absolute;
  top: calc(var(--ruler-spacing-bottom));
  bottom: 0;
  left: calc(var(--timeline-width) / 2 - 0.0625rem);
  z-index: 10;
  width: 0.125rem;
  pointer-events: none;
  background-color: var(--yellow);
}

.text-small {
  font-size: 9px;
  font-weight: semibold;
  line-height: 12px;
}

.text-body-small {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.text-body {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.text-body-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.text-body-big {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.text-body-big-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.text-great {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.text-super-great {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.icon-button {
  cursor: pointer;
}

.track-list {
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  gap: 0.625rem;
  width: var(--movie-width);
  min-height: calc(var(--clip-height) * 2.5);
  padding: 0 calc(var(--timeline-width) / 2) 1rem;
  overflow: hidden auto;
}

.track {
  position: relative;
  display: flex;
  height: var(--clip-height);
}

.clip {
  height: var(--clip-height);
  touch-action: pan-y;
}

.clip.is-dragging {
  z-index: 20;
}

.clip-box {
  position: absolute;

  left: var(--clip-box-left);
  width: calc(var(--clip-box-right) - var(--clip-box-left));
  height: var(--clip-height);
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  background-color: var(--clip-color);
  border-radius: 0.5rem;
}

.clip-transition {
  position: absolute;
  top: 50%;
  left: var(--clip-box-right);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  color: var(--white);
  background: var(--black);
  border-radius: 0.5rem;
  opacity: 0.7;
  transition: transform 0.2s;
  transform: translate(-50%, -50%);
}

.clip.is-selected .clip-transition {
  transform: translate(0%, -50%);
}

.clip.next-is-selected .clip-transition {
  transform: translate(-100%, -50%);
}

.clip-controls {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  border-color: var(--yellow);
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.5rem;
  opacity: 0;
}

.clip.is-selected .clip-controls {
  pointer-events: auto;
  opacity: 1;
}

.clip-resize-left,
.clip-resize-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 100%;
  color: black;
  touch-action: pan-y;
  visibility: hidden;
  background-color: var(--yellow);
}

.clip-resize-left {
  left: 0;
}

.clip-resize-right {
  right: 0;
}

.clip.is-selected.has-prev .clip-resize-left,
.clip.is-selected .clip-resize-right {
  visibility: visible;
}

.add-clip {
  position: absolute;
  left: 1rem;
  display: flex;
  gap: 0.675rem;
  align-items: center;
  justify-content: center;
  min-width: var(--clip-height);
  height: var(--clip-height);
  padding: 0.675rem 0.875rem;
  color: var(--white-3);
  cursor: pointer;
  background-color: rgb(255 255 255 / 3%);
  border: dashed;
  border-color: rgb(255 255 255 / 12%);
  border-radius: 0.625rem;
  translate: var(--movie-width);
}

.ruler {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  width: calc(var(--timeline-width) + var(--movie-width));
  height: var(--ruler-height);
  margin-top: var(--ruler-spacing-top);
  margin-bottom: var(--ruler-spacing-bottom);
  overflow: hidden;
  color: var(--white-3);
}

.ruler-markings {
  position: absolute;
  inset: 0;
  background-color: var(--primary-bg);
  background-image: radial-gradient(circle, currentcolor 0.125rem, rgb(0 0 0 / 0%) 0.125rem);
  background-size: var(--ruler-interval) 100%;
  translate: var(--ruler-markings-offset);
}

.ruler-label {
  position: absolute;
  display: inline-block;
  padding-top: 0.25em;
  background-color: var(--primary-bg);
}

.toolbar {
  display: flex;
  flex-shrink: 0;
  gap: 0.5rem;

  width: 100%;
  padding: 0.675rem max(env(safe-area-inset-left, 1.25rem), 1.25rem) 0.675rem
    max(env(safe-area-inset-right, 1.25rem), 1.25rem);
  overflow-x: auto;
  color: var(--white);
}

.toolbar-button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
