---
layout: layouts/app
title: Video trimmer
---

<script type="module" src="./index.ts"></script>

<style>
  #app {
    max-width: 1008px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
