:root {
  /** There features 
  These are values that determine the overall look of the theme.
  - Saturation controls how much of accent color will be mixed into text, background, and surface colors.
  - Contrast controls how contrast the text colors will be.
  */
  --theme-hue: 226;
  --theme-saturation: 0.3; /* 0...1 where 0 means grayscale colors; 1 means fully saturated colors */
  --theme-contrast: 0.9; /* 0...1 where 0 means low contrast; 1 means high contrast, black-n-white in fact */

  /* Fonts */
  --font-text: "Inter Variable", arial, sans-serif;
  --font-mono: "JetBrains Mono", "Courier New", courier, monospace;

  /* Font sizes */
  --font-size-s: 13.75px;
  --font-size-m: 16.5px;
  --font-size-l: 22px;
  --font-size-xl: 44px;
  --font-size-xxl: 66px;

  /* Paragraph */
  --line-height-paragraph-s: 20px;
  --line-height-paragraph-m: 24px;
  --line-height-paragraph-l: 28px;
  --letter-spacing-paragraph-l: -0.4px;
  --line-height-paragraph-xl: 52px;
  --letter-spacing-paragraph-xl: -1px;
  --line-height-ui-s: 16px;
  --line-height-ui-m: 22px;

  /* Headers */
  --line-height-h1: 70px;
  --letter-spacing-h1: -2px;
  --line-height-h2: 48px;
  --letter-spacing-h2: -1.5px;
  --line-height-h3: 24px;
  --letter-spacing-h3: -0.75px;
  --line-height-h4: 18px;

  /* Spacing */
  --space-default: 12px;
  --space-button-s-vertical: 8px;
  --space-button-s-horizontal: 16px;
  --space-button-m-vertical: 12px;
  --space-button-m-horizontal: 24px;
  --space-section: 60px;
  --space-card-m: 24px;
  --header-font-weight: 600;
  --ui-button-font-weight: 500;

  /* Border radii */
  --radius-xs: 4px;
  --radius-s: 8px;
  --radius-m: 12px;
  --radius-l: 16px;

  /* Colors */
  --color-background: white;
  --color-surface: #99a3ae14;
  --color-text-primary: #363e48;
  --color-text-secondary: #757a7f;
  --color-text-tertiary: #a7acb2;
  --color-accent: #0081ff;
  --color-accent-hover: #0088f0d9;
  --color-accent-b: #0081ff29;
  --color-accent-b-hover: #0088f033;
  --color-on-accent: white;
  --color-border-level-2: #99a3ae29;
  --color-border-level-3: #99a3ae52;
  --color-background-blur: #ffffffe6;
  --color-gradient-bg-start: #0081ff14;
  --color-gradient-bg-end: #0081ff00;
  --color-gradient-promo-start: #800069;
  --color-gradient-promo-end: #005196;
}

.theme-light {
  /** Base color
  By default it's blue ≈ #0289ff
  Usually it's your brand color. Simply provide your value and the whole theme will be recalculated automatically.
  Default value is in OKLCH because it produces richer P3 colors, however you can use any color format. 
  */

  /* --color-accent: #00bc81; */
  --color-accent: oklch(64% 0.21 var(--theme-hue));

  /* Relative colors 
  These colors are calculated based on the accent color and saturation/contrast values.
  Feel free to provide exact values if you want to override them.
  */
  --color-background-l: calc(0.7 + 0.3 * var(--theme-contrast));
  --color-background: oklch(
    from var(--color-accent) var(--color-background-l)
      calc((1 - var(--color-background-l)) * 0.6 * var(--theme-saturation)) h
  );
  --color-background-blur: oklch(from var(--color-background) l c h / 80%);
  --color-text-primary-l: calc(0.4 - 0.4 * pow(var(--theme-contrast), 10));
  --color-text-primary: oklch(
    from var(--color-accent) var(--color-text-primary-l)
      calc(var(--color-text-primary-l) * 0.3 * var(--theme-saturation)) h
  );
  --color-text-secondary: oklch(from var(--color-text-primary) l c h / 70%);
  --color-text-tertiary: oklch(from var(--color-text-primary) l c h / 42%);
  --color-accent-hover: oklch(from var(--color-accent) calc(l - 0.05) c h);
  --color-accent-b: oklch(from var(--color-accent) l c h / 16%);
  --color-accent-b-hover: oklch(from var(--color-accent-b) calc(l - 0.1) c h);
  --color-surface: oklch(from var(--color-text-primary) l c h / 4%);
  --color-on-accent: white;
  --color-border-level-2: oklch(from var(--color-text-primary) l c h / 8%);
  --color-border-level-3: oklch(from var(--color-text-primary) l c h / 16%);
  --color-gradient-bg-start: oklch(
    from var(--color-accent) l calc(0.3 * pow(var(--theme-saturation), 0.5)) h /
      calc(0.5 - 0.5 * pow(var(--theme-contrast), 2))
  );
  --color-gradient-bg-end: oklch(from var(--color-gradient-bg-start) l c h / 0%);
  --color-gradient-promo-start: #ffd2f7;
  --color-gradient-promo-end: #b9dfff;
}

.theme-dark {
  color-scheme: dark;

  /** Base color
  By default it's blue ≈ #0289ff
  Usually it's your brand color. Simply provide your value and the whole theme will be recalculated automatically.
  Default value is in OKLCH because it produces richer P3 colors, however you can use any color format. 
   */

  /* --colors-accent: #00bc81; */
  --color-accent: oklch(53% 0.22 var(--theme-hue));

  /* Relative colors 
  These colors are calculated based on the accent color and saturation/contrast values.
  Feel free to provide exact values if you want to override them.
  */
  --color-background-l: calc(0.35 - 0.35 * pow(var(--theme-contrast), 4));
  --color-background: oklch(
    from var(--color-accent) var(--color-background-l) calc(var(--color-background-l) * 0.3 * var(--theme-saturation)) h
  );
  --color-background-blur: oklch(from var(--color-background) l c h / 90%);
  --color-text-primary-l: calc(0.7 + 0.3 * pow(var(--theme-contrast), 0.8));
  --color-text-primary: oklch(
    from var(--color-accent) var(--color-text-primary-l)
      calc((1 - var(--color-text-primary-l)) * 0.6 * var(--theme-saturation)) h
  );
  --color-text-secondary: oklch(from var(--color-text-primary) l c h / 70%);
  --color-text-tertiary: oklch(from var(--color-text-primary) l c h / 50%);
  --color-accent-hover: oklch(from var(--color-accent) calc(l + 0.05) c h);
  --color-accent-b: oklch(from var(--color-accent) l c h / 16%);
  --color-accent-b-hover: oklch(from var(--color-accent-border) calc(l + 0.1) c h);
  --color-surface: oklch(from var(--color-text-primary) l c h / 4%);
  --color-on-accent: white;
  --color-border-level-2: oklch(from var(--color-text-primary) l c h / 8%);
  --color-border-level-3: oklch(from var(--color-text-primary) l c h / 16%);
  --color-gradient-bg-start: oklch(
    from var(--color-accent) l calc(0.3 * pow(var(--theme-saturation), 0.5)) h /
      calc(0.5 - 0.5 * pow(var(--theme-contrast), 2))
  );
  --color-gradient-bg-end: oklch(from var(--color-gradient-bg-start) l c h / 0%);
  --color-gradient-promo-start: #800069;
  --color-gradient-promo-end: #005196;
}

.page-container {
  display: flex;
  flex-direction: column;
  max-width: 1008px;
  min-height: 100vh;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: var(--font-text);
  font-size: var(--font-size-m);
  line-height: var(--line-height-paragraph-m);
  color: var(--color-text-primary);
  background-color: var(--color-background);
}

/* Headers */

h1,
h2,
h3,
h4 {
  margin: var(--space-default) 0;
  font-weight: var(--header-font-weight);
}

h1 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
}

h2 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
}

h3 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-h3);
  letter-spacing: var(--letter-spacing-h3);
}

h4 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-h4);
  letter-spacing: var(--letter-spacing-h4);
}

p {
  margin: var(--space-default) 0;
}

a {
  color: var(--color-accent);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-accent-b);
  text-decoration-skip-ink: none;
  text-underline-position: under;
  text-underline-offset: 0;

  &.tertiary {
    color: var(--color-text-tertiary);
    text-decoration: none;

    &:hover {
      color: var(--color-text-secondary);
    }
  }
}

a:hover {
  color: var(--color-accent-hover);
}

/* Custom change to improve link contrast */
:root {
  --color-accent: #1c6be4;
}

.theme-light {
  --color-text-tertiary: oklch(from var(--color-text-primary) l c h / 65%);
}

.theme-dark {
  .theme-dark {
    --theme-contrast: 0.85;
  }

  a {
    color: color-mix(in oklch, #1c6be4 75%, white);
  }
}

ul,
ol {
  padding-left: 40px;
  margin: 16px 0;
}

li {
  margin: 8px 0;
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

section {
  padding: var(--space-section) 0;
}

.eyebrow {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 2px 12px;
  margin-right: auto;
  margin-bottom: var(--space-default);
  margin-left: auto;
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
  text-align: center;
  text-decoration: none;
  object-fit: fill;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border-level-3);
  border-radius: var(--radius-l);

  &:hover {
    color: var(--color-text-primary);
  }
}

.heading {
  display: flex;
  flex-direction: column;
  max-width: 672px;
  margin-bottom: var(--space-default);

  &.hero {
    padding-bottom: 36px;
  }

  &.centered {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.no-top-margin {
  margin-top: 0;
}

.balanced {
  text-wrap: balance;
}

.content {
  max-width: 720px;
  padding: var(--space-section) 0;
}

/* Text */

/* Style used for content */

.paragraph {
  &.s {
    font-size: var(--font-size-s);
    line-height: var(--line-height-paragraph-s);
  }

  &.m {
    font-size: var(--font-size-m);
    line-height: var(--line-height-paragraph-m);
  }

  &.l {
    font-size: var(--font-size-l);
    line-height: var(--line-height-paragraph-l);
    letter-spacing: var(--letter-spacing-paragraph-l);
  }

  &.xl {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-paragraph-xl);
    letter-spacing: var(--letter-spacing-paragraph-xl);
  }

  &.bold {
    font-weight: 600;
  }
}

/* Styles for UI elements */

.ui {
  &.s {
    font-size: var(--font-size-s);
    line-height: var(--line-height-ui-s) !important;
  }

  &.m {
    font-size: var(--font-size-m);
    line-height: var(--line-height-ui-m) !important;
  }

  &.pseudo-link,
  .pseudo-link {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-accent-b);
  }
}

/* Buttons */

.button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: var(--space-button-m-vertical) var(--space-button-m-horizontal);
  font-size: var(--font-size-m);
  font-weight: var(--ui-button-font-weight);
  line-height: var(--line-height-ui-m);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: var(--radius-m);

  &.primary {
    color: var(--color-on-accent);
    background-color: var(--color-accent);

    &:hover {
      color: var(--color-on-accent);
      background-color: var(--color-accent-hover);
    }
  }

  &.secondary {
    color: var(--color-accent);
    background-color: var(--color-accent-b);

    &:hover {
      background-color: var(--color-accent-b-hover);
    }
  }

  &.tertiary {
    color: var(--color-text-secondary);
    box-shadow: inset 0 0 0 1px var(--color-border-level-3);

    &:hover {
      color: var(--color-text-primary);
      background-color: var(--color-surface);
    }
  }

  &.ghost {
    padding: var(--space-button-m-vertical) var(--space-button-m-horizontal);
    color: var(--color-text-primary);
    background: transparent;

    &:hover {
      color: var(--color-on-accent);
      background-color: var(--color-border-level-2);
    }

    &.active,
    &:active {
      background-color: var(--color-border-level-3);
    }

    &.compact {
      padding: var(--space-button-s-vertical) 12px;
    }
  }

  &.compact {
    padding: var(--space-button-s-vertical) var(--space-button-s-horizontal);
    border-radius: var(--radius-s);
  }
}

/* Button groups */

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;

  &.margin-paragraph {
    margin: var(--space-default) 0;
  }

  &.centered {
    align-items: center;
    justify-content: center;
  }

  &.stacked {
    flex-direction: column;
    align-items: justify;

    & .button {
      width: 100%;
    }
  }
}

/* Links */

.icon-link {
  display: flex;
  gap: 6px;
  align-items: center;
  color: var(--color-accent);
  text-decoration: none;

  &:hover {
    color: var(--color-accent-hover);
  }
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding-top: 12px;
}

.link-list-horizontal {
  display: flex;
  gap: var(--space-button-m-horizontal);
}

/* Icons */

.icon {
  display: flex !important;
  align-items: center;
  line-height: inherit !important;
  color: var(--color-text-tertiary);

  &.s {
    font-size: var(--font-size-s);
  }

  &.m {
    font-size: var(--font-size-m);
  }

  &.l {
    font-size: var(--font-size-l);
  }

  &.xl {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-paragraph-xl) !important;
  }
}

/* Navigation */

.nav-container {
  position: sticky;
  inset: 24px 0% auto;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  max-width: 1008px;
  padding: 12px 12px 12px 16px;
  margin-top: 24px;
  background-color: var(--color-background-blur);
  border-radius: var(--radius-l);
  box-shadow: 0 0 0 1px var(--color-border-level-2);
  backdrop-filter: blur(40px);
}

.nav-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  display: inline-block;
  padding: 8px 16px;
  font-size: var(--font-size-m);
  font-weight: var(--ui-button-font-weight);
  line-height: var(--line-height-ui-m);
  color: var(--color-text-secondary);
  text-decoration: none;
  border-radius: var(--radius-s);

  &:hover {
    color: var(--color-text-primary);
  }

  &:active {
    color: var(--color-text-tertiary);
  }
}

.background-gradient {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(180deg, var(--color-gradient-bg-start), var(--color-gradient-bg-end));
}

.promo-cta {
  margin-bottom: var(--space-section);
  background-image: linear-gradient(135deg, var(--color-gradient-promo-start), var(--color-gradient-promo-end));
  border-radius: 16px;
}

.image-wide {
  width: 116%;
  max-width: none;
  margin: var(--space-default) 0;
  margin-left: -8%;
}

.mobile-only,
.nav-hamburger {
  display: none;
}

.clients-container {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  place-content: stretch center;
  align-items: center;
  padding: 24px 0;
}

.text-centered {
  text-align: center;
}

.feature-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding: var(--space-card-m);
  background-color: var(--color-surface);
  border-radius: var(--radius-l);
}

.feature-heading {
  max-width: 672px;
}

/* Grid */

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  gap: 12px;
  margin: var(--space-default) 0;

  &.gap-l {
    gap: 24px;
  }

  &.gap-xl {
    gap: 60px;
  }
}

.columns-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.columns-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.columns-1\/2-1 {
  grid-template-columns: minmax(0, 0.5fr) minmax(0, 1fr);
}

.card-with-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cards-with-icons-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 36px;
  padding: 24px 0;
  margin-top: var(--space-default) 0;
}

.card-code-block {
  padding: var(--space-card-m);
  overflow: auto;
  border: 1px solid var(--color-border-level-2);
  border-radius: var(--radius-l);

  &.dark {
    background-color: #2b2b2b;
  }
}

/* Accordion */

.accordion-container {
  display: flex;
  flex-flow: column;
  border-top: 1px solid var(--color-border-level-2);
}

.accordion-item {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid var(--color-border-level-2);
}

.accordion-toggle {
  display: flex;
  align-items: center;
  padding: var(--space-card-m);
  cursor: pointer;
}

.accordion-toggle:hover {
  color: var(--color-text-secondary);
}

.accordion-chevron {
  margin-left: auto;
  color: var(--color-text-tertiary);
}

[open] .accordion-chevron {
  transform: rotate(180deg);
}

.accordion-content {
  display: block;
  padding-right: 48px;
  padding-bottom: var(--space-button-m-vertical);
  padding-left: var(--space-card-m);
  background-color: #0000;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 24px;
  margin-top: auto;
  border-top: 1px solid var(--color-border-level-2);
}

.footer-menu {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

.full-width {
  width: 100%;
}

.margin-top-l {
  margin-top: 24px;
}

.margin-top-xl {
  margin-top: 48px;
}

.secondary {
  color: var(--color-text-secondary);
}

.tertiary {
  color: var(--color-text-tertiary);
}

.color-accent {
  color: var(--color-accent);
}

.inline-code {
  height: auto;
  padding: 2px 4px;
  font-family: var(--font-mono);
  font-size: var(--font-size-s);
  line-height: inherit;
  color: var(--color-text-secondary);
  background-color: var(--color-surface);
  border-radius: var(--radius-xs);
}

/* 11ty */
@view-transition {
  navigation: auto;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus, :active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
  max-width: 100%;
}

img:where([width][height]) {
  height: auto;
}

img:where([src$=".svg"]) {
  width: 100%;
  max-width: none;
  height: auto;
}

video,
iframe {
  width: 100%;
  height: auto;
}

iframe {
  aspect-ratio: 16/9;
}

#skip-link {
  padding: 0.5rem 1rem;
  color: var(--color-text-primary);
  text-decoration: none;
  background: var(--color-background);
  border: 1px solid var(--color-gray-90);
  border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
  position: absolute;
  top: 1rem;
  left: 1rem;

  /* Ensure it is positioned on top of everything else when it is shown */
  z-index: 999;
}

/* custom */

:root {
  --font-text: "Liberation Sans", -apple-system, system-ui, sans-serif;
  --font-mono:
    consolas, menlo, monaco, andale mono wt, andale mono, lucida console, lucida sans typewriter, dejavu sans mono,
    bitstream vera sans mono, liberation mono, nimbus mono l, courier new, courier, monospace;
}

.theme-dark .light-only,
.theme-light .dark-only {
  display: none;
}

.page-container:has(.fullscreen-app) {
  max-width: 100%;
  padding: 0;
  margin: 0;

  > header,
  > footer {
    display: none;
  }
}

.fullscreen-app {
  height: 100dvh;
}

:focus-visible, label:has(:focus-visible){
  outline: 4px solid white;
}
label:has(:focus-visible) :focus-visible{
  outline: none;
}