@scope (.host) {
  :scope {
    --clip-height-default: 2.125rem;
    --clip-height-primary: 3.75rem;
    --clip-height: var(--clip-height-default);
    --clip-resize-handle-width: 1.5rem;
    --clip-selected-color-accent: var(--yellow);
    --clip-selected-color-text: var(--black);

    :where(.mobile) {
      --clip-height-primary: 3.125rem;
    }
  }
}

.clip {
  height: var(--clip-height);

  &:focus-visible {
    outline: none;
  }
}

.clip.isSelected {
  touch-action: pan-y;
}

.clip.isDragging {
  z-index: 20;
}

.clipBox {
  --clip-color-light: oklch(from var(--clip-color) calc(l + 0.1) c h);
  --clip-color-dark: oklch(from var(--clip-color) calc(l - 0.15) calc(c * 0.8) h);

  position: absolute;
  left: var(--clip-box-left);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: calc(var(--clip-box-right) - var(--clip-box-left));
  height: var(--clip-height);
  padding: 0 0.5rem;
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  background-color: var(--clip-color);
  border: solid var(--clip-border-width) var(--clip-color-light);
  border-radius: var(--clip-radius);

  transition: background-color 0.25s;

  .clip.isVideoMedia & {
    background-image: var(--clip-thumbnail);
    background-size: auto 100%;
    border-color: var(--clip-color);

    .clipName {
      pointer-events: none;
      opacity: 0;
    }
  }

  .clip.isSelected & {
    border-color: var(--clip-selected-color-accent);
  }
}

.clipBoxFlowContent {
  transition: transform 0.25s;

  .clip.canResizeLeft.isSelected & {
    transform: translate(1.5rem, 0);
  }
}

.clipIcon {
  composes: clipBoxFlowContent;
  flex-shrink: 0;
  padding: 0.1875rem;
  font-size: 1.25rem;
  background-color: var(--clip-color-light);
  border-radius: 0.375rem;
}

.clipName {
  composes: clipBoxFlowContent;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  color: var(--white);
  text-wrap: nowrap;
  background-color: var(--clip-color-dark);
  border-radius: calc(var(--clip-radius) / 2);
}

.clipTransition {
  position: absolute;
  top: 50%;
  left: var(--clip-box-right);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  color: var(--white);
  background: var(--black);
  border-radius: 0.5rem;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;

  .clip.isSelected & {
    transform: translate(0%, -50%);
  }

  .clip.nextIsSelected & {
    transform: translate(-100%, -50%);
  }
}

.clipControls {
  position: absolute;
  inset: calc(0px - var(--clip-border-width));
  pointer-events: none;
  border-color: var(--clip-selected-color-accent);
  border-style: solid;
  border-width: 0.125rem;
  border-radius: calc(var(--clip-radius));
  opacity: 0;
}

.clip.isSelected .clipControls {
  pointer-events: auto;
  opacity: 1;
}

.clipResizeLeft,
.clipResizeRight {
  position: absolute;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: var(--clip-resize-handle-width);
  height: 100%;
  color: var(--clip-selected-color-text);
  touch-action: none;
  cursor: ew-resize;
  background-color: var(--clip-selected-color-accent);
}

.clipResizeLeft {
  left: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.clipResizeRight {
  right: 0;
  border-radius: 0 0.5rem 0.5rem 0;
}

.clip.isSelected.canResizeLeft .clipResizeLeft,
.clip.isSelected .clipResizeRight {
  visibility: visible;
}
