@scope (.host) {
  :scope {
    --clip-height-primary: 3.75rem;
    --clip-height: 2.125rem;
    --clip-resize-handle-width: 0.75rem;
    --clip-selected-color-accent: var(--yellow);
    --clip-selected-color-text: var(--black);

    :where(.mobile) {
      --clip-height-primary: 3.125rem;
    }
  }
}

.clip {
  height: var(--clip-height);

  &:focus-visible {
    outline: none;
  }

  &.isLoading {
    filter: saturate(20%);

    --clip-color: #444;
  }

  &.isSelected {
    z-index: 1;
    touch-action: none;
  }

  &.isDragging {
    z-index: 20;
    translate: 0 var(--clip-drag-offset-y);
  }
}

.clipBoxBase {
  position: absolute;
  left: var(--clip-box-left);
  width: calc(var(--clip-box-right) - var(--clip-box-left));
  height: var(--clip-height);
  border: solid var(--clip-border-width) var(--clip-color-light);
  border-radius: var(--clip-radius);

  .clip.isSelected & {
    border-color: var(--clip-selected-color-accent);
  }

  --clip-color-light: oklch(from var(--clip-color) calc(l + 0.1) c h);
  --clip-color-dark: oklch(from var(--clip-color) calc(l - 0.15) calc(c * 0.8) h);
}

.clipBox {
  composes: clipBoxBase;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  background-color: var(--clip-color);

  transition: background-color 0.25s;

  .clip.isVideoMedia & {
    background-image: var(--clip-thumbnail);
    background-size: auto 100%;
    border-color: var(--clip-color);
  }

  & > :first-child {
    margin-left: 0.5rem;
  }
}

.clipBoxFlowContent {
  transition: transform 0.25s;
}

.clipIcon {
  composes: clipBoxFlowContent;
  flex-shrink: 0;
  padding: 0.1875rem;
  font-size: 1.25rem;
  background-color: var(--clip-color-light);
  border-radius: 0.375rem;
}

.clipName {
  composes: clipBoxFlowContent;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  color: var(--white);
  text-wrap: nowrap;
  background-color: var(--clip-color-dark);
  border-radius: calc(var(--clip-radius) / 2);
}

.clipTransition {
  position: absolute;
  top: 50%;
  left: var(--clip-box-right);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  color: var(--white);
  background: var(--black);
  border-radius: 0.5rem;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;

  .clip.isSelected & {
    transform: translate(0%, -50%);
  }

  .clip.nextIsSelected & {
    transform: translate(-100%, -50%);
  }
}

.clipControls {
  composes: clipBoxBase;

  .clip.isSelected & {
    border-width: 0.125rem;
  }
}

.clipResizeLeft,
.clipResizeRight {
  position: absolute;
  top: calc(50% - 0.75rem);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--clip-resize-handle-width);
  height: 1.5rem;
  color: var(--clip-selected-color-text);
  touch-action: none;
  cursor: ew-resize;
  background: white;
  border: inherit;
  border-width: 0.25rem;
  border-radius: 0.6225rem;

  .clip.isSelected & {
    background: black;
  }
}

.clipResizeLeft {
  left: calc(-1px - var(--clip-resize-handle-width) / 2);
}

.clipResizeRight {
  right: calc(-1px - var(--clip-resize-handle-width) / 2);
}

.clipGap {
  composes: clipBoxBase;

  &:hover,
  &.isSelected {
    background-color: var(--primary-bg);

    .mobile & {
      background-color: var(--secondary-bg);
    }
  }

  &.isSelected {
    border: dashed 0.125rem var(--clip-selected-color-accent);
  }
}
