@scope (.host) {
  :scope {
    --clip-height: 2.75rem;
    --clip-resize-handle-width: 1.5rem;
  }
}

.clip {
  height: var(--clip-height);
}

.clip.isSelected {
  touch-action: pan-y;
}

.clip.isDragging {
  z-index: 20;
}

.clipBox {
  position: absolute;

  left: var(--clip-box-left);
  width: calc(var(--clip-box-right) - var(--clip-box-left));
  height: var(--clip-height);
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  background-color: var(--clip-color);
  border-radius: 0.5rem;

  transition: background-color 0.25s;
}

.clipName {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin: 0.125rem;
  line-height: 1;
  color: var(--white);
  background-color: var(--black-2);
  border-radius: 0.5rem;
  transition: transform 0.25s;

  .clip.canResizeLeft.isSelected & {
    transform: translate(1.75rem, 0);
  }
}

.clipTransition {
  position: absolute;
  top: 50%;
  left: var(--clip-box-right);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  color: var(--white);
  background: var(--black);
  border-radius: 0.5rem;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;

  .clip.isSelected & {
    transform: translate(0%, -50%);
  }

  .clip.nextIsSelected & {
    transform: translate(-100%, -50%);
  }
}

.clipControls {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  border-color: var(--yellow);
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.5rem;
  opacity: 0;
}

.clip.isSelected .clipControls {
  pointer-events: auto;
  opacity: 1;
}

.clipResizeLeft,
.clipResizeRight {
  position: absolute;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: var(--clip-resize-handle-width);
  height: 100%;
  color: black;
  touch-action: none;
  cursor: ew-resize;
  background-color: var(--yellow);
}

.clipResizeLeft {
  left: 0;
}

.clipResizeRight {
  right: 0;
}

.clip.isSelected.canResizeLeft .clipResizeLeft,
.clip.isSelected .clipResizeRight {
  visibility: visible;
}
