/* eslint-disable import/no-extraneous-dependencies -- -- */
@import url('@unocss/reset/sanitize/sanitize.css');
@import url('@unocss/reset/sanitize/forms.css');
@import url('@unocss/reset/sanitize/assets.css');

/* eslint-enable import/no-extraneous-dependencies */

@import url('./utility.module.css');

.host {
  --black: #000;
  --white: #fff;
  --gray: #252525;
  --red-dark: #e83757;
  --red: #ff5372;
  --red-light: #ff7a92;
  --purple-dark: #8f54f9;
  --purple: #a06efb;
  --purple-light: #ac7dff;
  --yellow-dark: #ead627;
  --yellow: #feea38;
  --yellow-light: #fff38b;
  --green-dark: #03b072;
  --green: #03ad70;
  --green-light: #1ed291;
  --black-1: rgb(0 0 0 / 10%);
  --black-2: rgb(0 0 0 / 30%);
  --black-3: rgb(0 0 0 / 60%);
  --white-1: rgb(255 255 255 / 10%);
  --white-2: rgb(255 255 255 / 30%);
  --white-3: rgb(255 255 255 / 60%);
  --ruler-height: 1rem;
  --ruler-spacing-top: 0.25rem;
  --ruler-spacing-bottom: 2.625rem;
  --primary-bg: #171717;
  --primary-bg-05: #17171788;
}

.slot {
  display: contents;
}

.viewport {
  position: relative;
  display: flex;
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 0;
}

.viewportCanvas {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  border-radius: 1.25rem;
}

.host :global(.miru-icon) {
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
}

.button {
  composes: button from 'shared/css/shared.module.css';
}

.square {
  composes: square from 'shared/css/shared.module.css';
}

.round {
  composes: round from 'shared/css/shared.module.css';
}
