/* eslint-disable import/no-extraneous-dependencies -- -- */
@import url('@unocss/reset/sanitize/sanitize.css');
@import url('@unocss/reset/sanitize/forms.css');
@import url('@unocss/reset/sanitize/assets.css');

/* eslint-enable import/no-extraneous-dependencies -- -- */

@import url('./utility.css');

.viewport {
  position: relative;
  display: flex;
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 0;
}

.viewport-canvas {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  border-radius: 1.25rem;
}

.icon {
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
}

.button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.875rem;
  cursor: pointer;
  border-style: none;
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--white-1);
  }

  &:active {
    background-color: var(--white-2);
  }

  &.overlay {
    background-color: var(--primary-bg-05);

    &:hover {
      background-color: var(--black-3);
    }

    &:active {
      background-color: var(--black-3);
    }
  }

  &[disabled],
  &[aria-disabled] {
    cursor: default;
    background-color: transparent;
    opacity: 0.625;
  }
}

.square,
.round {
  aspect-ratio: 1;
  padding: 0.25rem;

  &.overlay {
    padding: 0.5rem;
  }
}

.round {
  border-radius: 9999px;
}
