.host {
  /* BUTTON SIZE */
  --height-menu-row: 4rem;
  --height-menu-row-scroll: 8rem;
  --size-button-icon: 1.25rem;
  --roundness-button: 0.25rem;
  --height-slider: 0.6rem;
  --width-slider-thumb: 2.5rem;
  --gap-default: 1rem;
  --gap-preview: 1rem;
}
