@import url('./common.module.css');
@import url('../components/atoms/design.css');
@import url('./clip.module.css');
@import url('./viewport.module.css');
@import url('./timeline.module.css');
@import url('./assetbin.module.css');

.videoEditor {
  height: 100%;
  min-height: 0;
  font-size: 0.875rem;
  color: white;

  .viewport {
    max-height: min(60vh, calc(100dvh - 22rem));
  }

  .viewportCanvas {
    height: 100%;
  }
}

.secondaryToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.25rem;
}

.secondaryToolbarGroup {
  display: flex;
  gap: 0.5rem;
}

.actions {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.filtersMenu {
  --color-bg-button: var(--gray);
  --color-fnt-acc: var(--yellow);
  --gap-default: 0.25rem;
  --gap-top: 0.5rem;
}

.playbackPlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
}
