@import url('./common.module.css');
@import url('./clip.module.css');
@import url('./viewport.module.css');
@import url('./timeline.module.css');
@import url('./filter-menu.module.css');

.videoEditor {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  color: white;
  background-color: var(--primary-bg);

  .viewport {
    max-height: min(60vh, calc(100dvh - 22rem));
    padding: 0.25rem;
  }

  .viewportCanvas {
    height: 100%;
  }
}

.playbackControls {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;

  > * {
    pointer-events: all;
  }
}

.secondaryToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.25rem;
}

.secondaryToolbarGroup {
  display: flex;
  gap: 0.5rem;
}

.actions {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.toolbar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  gap: 0.5rem;
  align-items: flex-start;

  width: 100%;
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
  overflow-x: auto;
  color: var(--white);
}

.toolbarButton {
  flex-direction: column;
  align-self: stretch;
  justify-content: flex-start;
  width: 3rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  line-height: initial;
  text-align: center;

  &.active {
    color: var(--yellow);
  }

  :global(.miru-icon) {
    font-size: 1.5rem;
  }
}

.filtersMenu {
  --color-bg-button: var(--gray);
  --color-fnt-acc: var(--yellow);
  --gap-default: 0.25rem;
  --gap-top: 0.5rem;
}

.playbackPlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
}
