.timeline {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  user-select: none;

  --timeline-padding-right: var(--timeline-duration);

  .mobile & {
    --timeline-padding-right: var(--timeline-padding-left);
  }
}

.timelineScroller {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  touch-action: pan-x pan-y;
}

.timelinePlayhead {
  position: absolute;
  top: var(--ruler-spacing-top);
  left: var(--timeline-padding-left);
  z-index: 1;
  display: flex;
  user-select: none;
  translate: var(--timeline-current-time);

  .mobile & {
    top: calc(var(--ruler-height) + 0.5rem);
    translate: 0;
  }
}

.timelinePlayhead .timePill {
  translate: calc(var(--time-pill-width) / -2);
}

.timePill {
  display: flex;
  gap: 0.125rem;
  padding: 0.25rem 0.5rem;
  color: var(--black);
  text-align: center;
  background-color: var(--yellow);
  border-radius: 9999px;
}

.timePillRight {
  opacity: 0.675;
}

.timePillDrop {
  position: absolute;
  bottom: calc(-0.5rem + 1px);
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 0.5rem;
  color: var(--yellow);
}

.timelineCursor {
  position: absolute;
  width: 0.125rem;
  height: calc(var(--timeline-height) + var(--ruler-height) + var(--ruler-spacing-bottom));
  pointer-events: none;
  background-color: var(--yellow);
  translate: -50%;
}

.timelinePlayheadHandle {
  translate: -50%;
}

.trackList {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  width: var(--timeline-duration);
  min-width: calc(100% - var(--timeline-padding-left) - var(--timeline-padding-right));
  height: fit-content;
  min-height: calc(var(--clip-height) * 2.5);
  padding-bottom: max(4rem, env(safe-padding-inset-bottom, 0px));
  margin: 0 var(--timeline-padding-right) 0 var(--timeline-padding-left);
}

.track {
  position: relative;
  display: flex;
  height: var(--clip-height);

  &.primary {
    --clip-height: var(--clip-height-primary);
    --clip-border-width: var(--clip-border-width-primary);
  }

  .clip {
    position: sticky;
  }
}

.trackButton {
  composes: button;
  position: absolute;
  left: 1rem;
  display: flex;
  gap: 0.675rem;
  align-items: center;
  justify-content: center;
  min-width: var(--clip-height);
  height: var(--clip-height);
  color: var(--white-3);
  background-color: rgb(255 255 255 / 3%);
  border: dashed;
  border-color: rgb(255 255 255 / 12%);
  translate: var(--track-width);
}

.ruler {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: max(
    calc(var(--timeline-duration) + var(--timeline-padding-left) + var(--timeline-padding-right)),
    100%
  );
  padding: var(--ruler-spacing-top) 0 var(--ruler-spacing-bottom) 0;
  overflow: hidden;
  font-size: 0.625rem;
  color: #aaacc2;
  background-color: var(--secondary-bg);

  .mobile & {
    background-color: var(--primary-bg);
  }
}

.rulerMarkings {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  translate: var(--ruler-markings-offset);

  line {
    stroke-width: 0.0625rem;
  }
}

.rulerSizer {
  position: relative;
  width: 100%;
  height: var(--ruler-height);
}

.rulerLabel {
  position: absolute;
  display: inline-block;
  margin-left: 0.875rem;
  line-height: 0.75rem;
}

.clipDragTrackSpace {
  position: relative;
  flex-shrink: 0;
  height: 0.675rem;

  &.active::after {
    position: absolute;
    inset: 0.25rem 0.5rem;
    content: '';
    background-color: var(--yellow-dark);
    border-radius: 999px;
  }
}
