.timeline {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.timelineScroller {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto hidden;
}

.timelineScrollerChild {
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  width: var(--movie-width);
  height: 100%;
  padding: 0 calc(var(--timeline-width) / 2);
}

.timelinePlayhead {
  position: absolute;
  top: calc(var(--ruler-spacing-top) + var(--ruler-height) + 0.5rem);
  left: calc(var(--timeline-width) / 2);
  z-index: 10;
  display: flex;
  user-select: none;
}

.timelinePlayhead .timePill {
  translate: calc(var(--time-pill-width) / -2);
}

.timePill {
  display: flex;
  gap: 0.125rem;
  padding: 0.25rem 0.5rem;
  color: var(--black);
  text-align: center;
  background-color: var(--yellow);
  border-radius: 9999px;
}

.timePillRight {
  opacity: 0.5;
}

.timePillDrop {
  position: absolute;
  bottom: -0.5rem;
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 0.5rem;
  color: var(--yellow);
}

.timelineCursor {
  position: absolute;
  top: calc(var(--ruler-spacing-bottom));
  bottom: 0;
  left: calc(var(--timeline-width) / 2 - 0.0625rem);
  z-index: 10;
  width: 0.125rem;
  pointer-events: none;
  background-color: var(--yellow);
}

.trackList {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  gap: 0.625rem;
  width: calc(var(--movie-width) + var(--timeline-width));
  min-height: calc(var(--clip-height) * 2.5);
  padding-bottom: 1rem;
  padding-left: calc(var(--timeline-width) / 2);
  overflow: hidden auto;
}

.track {
  position: relative;
  display: flex;
  height: var(--clip-height);
}

.trackButton {
  composes: button;
  position: absolute;
  left: 1rem;
  display: flex;
  gap: 0.675rem;
  align-items: center;
  justify-content: center;
  min-width: var(--clip-height);
  height: var(--clip-height);
  color: var(--white-3);
  background-color: rgb(255 255 255 / 3%);
  border: dashed;
  border-color: rgb(255 255 255 / 12%);
  translate: var(--track-width);
}

.ruler {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  width: calc(var(--timeline-width) + var(--movie-width));
  height: var(--ruler-height);
  margin-top: var(--ruler-spacing-top);
  margin-bottom: var(--ruler-spacing-bottom);
  overflow: hidden;
  color: var(--white-3);
  cursor: pointer;
}

.rulerMarkings {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
  background-size: var(--ruler-interval) 100%;
  translate: var(--ruler-markings-offset);
}

.rulerLabel {
  position: absolute;
  display: inline-block;
  padding-top: 0.25em;
  background-color: var(--primary-bg);
}
