.textSmall {
  font-size: 9px;
  font-weight: 600;
  line-height: 12px;
}

.textBodySmall {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.textBody {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.textBodyBold {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.textBodyBig {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.textBodyBigBold {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.textGreat {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.textSuperGreat {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.numeric {
  font-family: sans-serif;
  font-variant-numeric: tabular-nums;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  /* stylelint-disable-next-line property-no-deprecated */
  clip: rect(0, 0, 0, 0);
}

.safePaddingX {
  padding-right: max(env(safe-area-inset-right, 1.25rem), 1.25rem);
  padding-left: max(env(safe-area-inset-left, 1.25rem), 1.25rem);
}

.safePaddingY {
  padding-top: max(env(safe-area-inset-top, 1.25rem), 1.25rem);
  padding-bottom: max(env(safe-area-inset-bottom, 1.25rem), 1.25rem);
}
