.viewportOverlay {
  position: absolute;
  inset: 0;

  width: var(--viewport-width);
  height: var(--viewport-height);
  margin: auto;
}

.transformControls {
  composes: viewportOverlay;
  overflow: visible;
  pointer-events: none;
}

.transformBox {
  fill: none;
  stroke: var(--yellow);
  stroke-width: 0.1875rem;
}

.transformResizeHandle {
  pointer-events: all;
  stroke: white;
  stroke-width: 0.625rem;
  stroke-linecap: round;

  .mobile & {
    stroke-width: 1rem;
  }
}

.transformResizeOutline {
  composes: transformResizeHandle;
  stroke: black;
  stroke-width: 0.75rem;

  .mobile & {
    stroke-width: 1.25rem;
  }
}
